.dashboard-container {
  background-image: image-url("mobilebg.png");
  height: 100vh;
}
.dashboard-btn{
  background: #0092CA;
  padding: 10px;
  border-radius: 5px;
  margin:10px;
}
.dashboard-btn img{
  width: 85%;
  margin: 0 auto;

}
