.form-inputs-sign-in {
  border-radius: 100px;
  color:#fff;
  height: 40%;
  border: 100px auto;
}
.big-input {
  height: 57px;
  font-size: 26px;
}
.btn-width{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}
.forgot-your-pw a{
  color:white;
}
.forgot-your-pw{
  margin-bottom:20px;
}
