.form-inputs-sign-in {
  border-radius: 100px;
  color:#fff;
  border: 100px auto;
}
.big-input {

}
.btn-width{
  width:100%;
  padding:5px;
  margin-bottom:5px;
}
.forgot-your-pw a{
  color:white;
}
.forgot-your-pw{
  margin-bottom:20px;
}
