.profile-avatar {
  width:20%;
  margin:0 auto;
  margin-top: 40px;
}
.profile-avatar img{
  border-radius:50%;
  width:100%;
}
.edit-profile{
  text-align:center;
}
.edit-profile a{
  text-align:center;
}



.following-table {
  margin-top: 20px;
  td {
    padding: 15px;
  }
}

.favourite-table {
  margin-top: 20px;
  td {
    padding: 15px;
  }
}


.profile-avatar {
  img {
    height: 120px;
    width: 120px;
  }
}



.profile-wrapper {
  position: relative;
  height: 200px;
  width: 100% ;
}

.profile-pic {
  position: absolute;
  top: 0px;
  left: 10px;
}

.profile-name {
  position: absolute;
  left: 140px;
  top: 70px;
}

.profile-follow {
  position: absolute;
  bottom: 10px;
  right: 10px;

}

.profile-guide {
  position: absolute;
  top: 20px;
  right: 10px;
}

.profile-edit {
  position: absolute;
  right: 13px;
  bottom: 13px;
  i {
    color: gray;
    font-size: 18px;

    &:hover {
      color: #3F3F3F;
    }
  }
}


.travel-guide-info-wrapper {
  width: 100%;
  ul {
    list-style: none;
    padding-left: 0;

    h3 {
      padding-left: 20px ;
    }
  }
}

.submit-guide-info {
  width: 120px;
  margin-left: 35%;
}

.minus-plus {
  color: #3D608A;

  &:hover {
    text-decoration: none;
    color: #143457;
  }
}
