.profile-avatar {
  width:20%;
  margin:0 auto;
  margin-top: 40px;
}
.profile-avatar img{
  border-radius:50%;
  width:100%;
}
.edit-profile{
  text-align:center;
}
.edit-profile a{
  text-align:center;
}



.following-table {
  margin-top: 20px;
  td {
    padding: 15px;
  }
}

.favourite-table {
  margin-top: 20px;
  td {
    padding: 15px;
  }
}


.profile-avatar {
  img {
    height: 120px;
    width: 120px;
  }
}



.profile-wrapper {
  background-image: image-url('saved-loc-bg.png');
  position: relative;
  height: 200px;
  width: 100% ;
  color: white;
}

.profile-pic {
  position: absolute;
  top: 0px;
  left: 10px;
}

.profile-name {
  position: absolute;
  left: 140px;
  top: 70px;
}

.profile-follow {
  position: absolute;
  bottom: 15px;
  right: 10px;

}

.profile-guide {
  position: absolute;
  top: 20px;
  right: 10px;
}

.profile-edit {
  position: absolute;
  right: 13px;
  bottom: 13px;
  i {
    color: gray;
    font-size: 18px;

    &:hover {
      color: #3F3F3F;
    }
  }
}



.travel-guide-info-wrapper {
  background-image: image-url('desktop-bg.png');
  width: 100%;
  height: 100%;
  color: white;
  ul {
    list-style: none;
    padding-left: 0;


    h5 {
      padding-top: 20px;
      padding-left: 30px ;
      font-size: 18px;
      letter-spacing: 1.5px;
      color: #E1E1E1;
    }
  }
}

.off-duty {
  width: 100%;
  min-height: 30vh;
  color: white;
}

.tab-wrapper {
  padding: 0;
  background-image:image-url('desktop-bg.png');
  height: 100vh;
}

.submit-guide-info {
  font-size: 18px;
  padding: 7px 35px;
  margin-left: 35%;
  margin-bottom: 20px;
}

.minus-plus {
  color: #E8E8E8;

  &:hover {
    text-decoration: none;
    color: #A7A7A7;
  }
}


.edit-user-wrapper {
  background-image: image-url('saved-loc-bg.png');
  height: 850px;
  color: white;
}

.head-edit-user {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 10px;
}

.update-guide-wrapper {
  background-image: image-url('saved-loc-bg.png');
  height: 100%;
  color: white;
}

.details {
  color: white;
  font-size: 18px;

  &:hover {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 20px;
  }
}

.tabs {

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    a{
      color: black;
      padding: 10px 8px;
    }
    &.active {
      a{
        color: #1D2890;
        border-bottom-color: #ddd;
      }
    }
  }
}
