@media screen and (max-width: 768px){
  .desktop-show-review{
    width:100%;
    padding:0 30px;
  }
}
@media screen and (min-width: 768px){
  .desktop-show-review{
    width:60%;
    padding:0 30px;
  }
}

.show-title h2{
  line-height:14px;
  font-size:24px;
}
.show-title p{
  font-size:14px;
}
.show-info p{
  font-size:14px;
  line-height:10px;
}
.show-box {
  display:flex;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}
.show-title {
  float:left;

}
.get-direction{
  float:right;
}
.clear {
  clear:left;
}
.place-review {
  margin-top: 25px;
}
.place-review p{
  color:#95989A;
}
.review-header{
  display:flex;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}
.my-reviews{

}
.my-reviews li{
  list-style: none;

}
.show-photo{
  width:1680px !important;
}
.show-photo img{
  width:100%;
}
.full-width-banner{
  width:1680px !important;
}

.desktop-show-info{
  float:left;
  width:60%;
  padding:0 30px;
}
.desktop-show-map{
  padding-right:30px;
  float:right;
  width:40%;
}
.desktop-show-map img{
  width:100%;
}

.desktop-show-location{
  width:40%;
}
.clear-float{
  clear:both;
  margin-top:10px;
}
.desktop-show-title{
  width:50%;
  float:left;
}
.desktop-show-info{
  float:left;
}
.desktop-get-direction{
  float:right;
}
.review-header{
  margin: 10px 0;
}

.empty-heart {
  color: gray;

  &:hover {
    color: red;
    text-decoration: none;
  }
}

.filled-heart {
  color:red;

  &:hover {
    color: gray;
    text-decoration: none;
  }
}


.trash-delete {
  color: gray;

  &:hover {
    color: #5E5E5E;
  }
}

.pen-update  {
  color: gray;

  &:hover {
    color: #5E5E5E;
  }
}
.desktop-links{
  float:right;
  margin:10px 10px;
  font-size:20px;
}

.time-review-container {
  width: 100%;
  position: relative;
}

.time-review {
  float:right;
  color: gray;
  margin-bottom:5px;
}
#loadMore {
  font-size: 20px;
  margin-bottom:10px;
  color:#EAEAEA;
  cursor: pointer;
}
.heart-fav {
  float:left;
  margin:20px 40px 0 0;
}
.show-title h2{
  float:left;
  margin-right:10px;
}
