<% @user.followings.each do |following| %>
 <!--  <div>
    <#% unless following.facebook_picture_url.present? %>
      <%#= cl_image_tag following.photo.path if following.photo.present? %>
    <%# else %>
      <%#= image_tag following.facebook_picture_url %>
    <%# end %>
  </div> -->
  <%= link_to following.first_name, user_path(following) %><br>
<% end %>
