<div class="container">
  <div class="row">
      <%= form_tag guide_path, method: :get do %>

        <div class="col-xs-4">
          <%= text_field_tag :place, params[:place], placeholder: "Location", class: "form-control"%>
        </div>

        <div class="col-xs-4">
          <%= select_tag :language, options_for_select(User.languages_for_select.values.map{|l| truncate(l, length: 12)}, params[:language]), include_blank: true, class: "form-control" %>
        </div>

        <div class="col-xs-4">
          <%= submit_tag "Search", class: "form-control clean-look-btn"%>
        </div>
      <% end %>
  </div>
</div>

