<% content_for(:title) do %>
  Dashboard | Missing Out
<% end %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= image_tag "placeholder.png" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= image_tag "placeholder.png" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= image_tag "placeholder.png" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= image_tag "placeholder.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
