<!--
<div class="title" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/images/mobilebg.png');">
  <div class="title-content">
     <h1>Missing</h1>
     <h1>Out</h1>
  </div>
  <div class="bagpacker-content">
    <img src="" alt="">
    <h3>Find Places Near You</h3>
  </div>
  <div class="sign-in">
    <a class="btn btn-primary btn-lg">Sign in with Facebook</a>
    <p>Sign in | Sign up</p>
  </div>
</div> -->


<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="missing-out">
          <h1 class="blue-letters">Missing</h1>
          <h1 class="white-letters">Out</h1>
        </div>
        <div class="backpacker-content">
          <%= image_tag "gps.png" %>
        </div>
        <div class="text-center">
          <div class="facebook">
          <a href="#"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
          </div>
          <p>Sign in | Sign up</p>
        </div>
      </div>
    </div>
  </div>
</div>
