<div class="search-bar"></div>
<div class="map">
  <% content_for(:after_js) do %>
    <script>
      function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          }
      }

      function showPosition(position) {
        console.log(position);
      }

      getLocation();

    </script>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <#% @places.each do |place| %> -->
        <!-- <div class="list-item">
          <div class="list-img">
            <#%= image_tag place.image, class: "place-avatar" %>
          </div>
          <div class="list-des">
            <h4>Test</h4>
              <p>Category</p>
              <p>Distance</p>
              <br>
              <p>10 friends been here</p>
          </div>
          <div class="list-link">
            <#%= link_to ">" %>
          </div>
        </div> -->

        <div class="list">
          <div class="list-item">
            <div class="list-img">
              <%= image_tag "list-img-placeholder.png" %>
            </div>
            <div class="list-des">
              <h4>Test</h4>
              <p>Category</p>
              <p>Distance</p>
              <br>
              <p>10 friends been here</p>
            </div>
            <div class="list-link">
              <a href="#">></a>
            </div>
          </div>
        </div>
      <hr>
    </div>
  </div>
</div>
