<% content_for(:title) do %>
  Sign in | Missing Out
<% end %>

<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="missing-out">
          <h1 class="blue-letters">Missing</h1>
          <h1 class="white-letters">Out</h1>
        </div>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
        <form action="/action_page.php">
          <label for="email">Email</label>
          <input type="text" id="eail" name="email" placeholder="Email">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>

          <input type="submit" value="Submit">
        </form>
</div>

</body>
</html>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
