$blue-inside: #213A79;
$blue-border: #2C50A9;

$red-inside: #810807;
$red-border: #CE121C;

$green-inside: #1B733A;
$green-border: #188822;

.clean-look-btn {
  background-color: white;
  color: $blue-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $blue-border;

  &:hover {
    background-color: $blue-border;
    color: white;
  }
}

.clean-look-btn-red {
  background-color: white;
  color: $red-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $red-border;

  &:hover {
    background-color: $red-border;
    color: white;
  }
}

.clean-look-btn-green {
  background-color: white;
  color: $green-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $green-border;

  &:hover {
    background-color: $green-border;
    color: white;
  }
}
