$blue-inside: #213A79;
$blue-border: #2C50A9;

$red-inside: #810807;
$red-border: #CE121C;

$green-inside: #1B733A;
$green-border: #188822;

.clean-look-btn {
  background-color: white;
  color: $blue-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $blue-border;

  &:hover {
    text-decoration: none;
    background-color: $blue-border;
    color: white;
  }
}
.clean-look-btn-follow {
  background-color: white;
  color: $blue-inside;
  padding: 5px 19.5px;
  border-radius: 5px;
  border: 1.5px solid $blue-border;

  &:hover {
    text-decoration: none;
    background-color: $blue-border;
    color: white;
  }
}

.clean-look-btn-white {
  background-color: #0092ca;
  color: white;
  border-radius: 5px;
  border: 1.5px solid white;

  &:hover {
    text-decoration: none;
    background-color: white;
    color: #0092ca;
  }
}

.clean-look-btn-red {
  background-color: white;
  color: $red-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $red-border;

  &:hover {
    text-decoration: none;
    background-color: $red-border;
    color: white;
  }
}

.clean-look-btn-green {
  background-color: white;
  color: $green-inside;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1.5px solid $green-border;

  &:hover {
    text-decoration: none;
    background-color: $green-border;
    color: white;
  }
}






















.update {
  padding: 5px 60px ;
  margin-left: 25%;
}


.back {
  padding: 5px 70px ;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 25%;
}
